@import url('https://fonts.googleapis.com/css?family=Montserrat:200,200i,300,300i,400,600,800');

body{
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}

section.home{
	background-image: url("../img/back2.jpg");
	background-size: cover;
	background-position: center;
	height: 100vh;
}

div.text-container{
	display: flex;
	height: 100%;
	width: 100%;
	align-content: center;
	align-items: center;
	justify-content: center;
	flex-flow: column;
	background-color: rgba(0,0,0,0.5);
}

div.text-container *{
	text-transform: uppercase;
	color:#F5F5F5;
	margin: 0 2px;
	text-shadow: 0 0 5px #424242;
}

h1{
	font-size: 38px;
	font-weight: 800;
	animation: type 3s  steps(31);
	white-space: nowrap;
	overflow: hidden;
}
@keyframes type{
	0%{width: 0ch;border-right: 3px solid #FFCA28;}
	100%{width: 25ch; border-right: 3px solid #FFCA28;}
}

h5{	
	opacity: 0;
	animation: fadeIn 2s alternate forwards;
	animation-delay: 3s;
	font-size: 20px;
}
@keyframes fadeIn{
	0%{opacity: 0}
	100%{opacity: 1}
}
span.inspiration{
	color:#FFB300;
}

div.menu{
	position: absolute;
	background-color: #212121;
	color: #F5F5F5;
	font-size: 18px;
	height: 35px;
	font-weight: 600;
	z-index: 2;
	width: 15vw;
}
.menu-text-box{
	margin: 5px 30px;
}

.menu-text-box:hover, a:hover{
	cursor: pointer;
	animation: colorHover 1s alternate forwards;
}
@keyframes colorHover{
	0%{color: white;}
	100%{color: #F9A825;}
}

.sign-box{
	position: absolute;
	color: white;
	right: 0;
	padding: 10px;
	background-color: #212121;
}
.sign-box a:hover{
	background-color: #212121!important;
	padding: 10px;
}
.sign-box *{
	padding: 10px;
	color: white;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 600;
}

.dropdown-menu{
	position: absolute;
	background-color: inherit;	
	text-transform: uppercase;
	font-weight: 600;
	font-size: 16px;
	background-color: #212121;
	color: white;
	height: 100vh;
	width: 15vw;
	z-index: 1;
	display: none;
}

.dropdown-menu ul{
	padding: 50px 30px;
	
	display: flex;
	text-decoration: none;
	flex-direction: column;
	list-style-type: none;
	align-content: stretch;
	align-items: stretch;
	justify-content: space-around;	
	width: inherit;
	overflow: hidden;
	flex-wrap: nowrap;
	white-space: nowrap;
}

.dropdown-menu li{
	border-bottom: 1px solid #282828;
	line-height: 1.5em;
	margin: 5px 0;
	width: inherit;
	cursor: pointer;
}
.dropdown-menu li *{
	text-decoration: none;
	color: white;
}
.dropdown-menu li:first-child{
	margin-top: 10px;
}

.dropdown-menu li:last-child{
	border-bottom: none;
	line-height: 1.5em;
	margin: 10px 0;
	color: #F9A825;
}
